<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <a href="#/zhang" v-if="san">你好</a>
        <a href="#/zhangwuji">张无忌</a>
        <a href="#/zhangsanfeng">张三丰</a>
        <!-- <input v-zhangliangying type="text">点击一下</input> -->
        <input type="text"  v-model="lijiu">
        <div v-zhangliangying="message =='zhang'">{{ lijiu }}</div>
        <zhanglimin></zhanglimin>
        <router-view></router-view>
    </div>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="./node_modules/vue-router/dist/vue-router.js"></script>
    <script>
        Vue.directive('zhangliangying',{
            
            update(el,binding) {
                if(binding.value){
                    console.log('i am changed');
                    console.log(binding);
                }
                
            },
        })
        Vue.component('zhanglimin',{
            data:function  () {
                return{
                    
                }
            },
            template:'<div>大唐</div>'
        })
        var chen = new Vue({
            el: "#app",
            data:function  () {
                return{
                    lijiu:'zhang',
                    message:'zhang',
                    san:true
                }
            },
            // directives:{
            //     zhangliangying:function(){
            //         console.log('i am zhanglinagying');
            //     }
            // },
            router:new VueRouter({
                routes:[
                    {
                        path:'/zhang',
                        component:{
                            template:"<div>我是一个兵</div>"
                        },
                        
                    },
                    {
                        path:'/zhangsanfeng',
                        component:{
                            template:"<div>我是张三丰</div>"
                        },
                    },
                    {
                        path:'/zhangwuji',
                        component:{
                            template:"<div>我是张无忌</div>"
                        },
                    }
                ]
            }),
        })
        
        
        
        
    </script>
</body>
</html>