<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .orange{
            height: 100px;
            width: 100px;
            background-color: orange;
        }
    </style>
</head>

<body>
    <div id="app">
        <h1>{{ message }}</h1>
        <input type="text" v-model="message">
        <div class="orange" v-if="seen" @click='zhang'></div>
        <ul>
            <li v-for="item in fruits">{{item}}</li>
        </ul>
    </div>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                message: 'hello',
                seen:true,
                fruits:[
                    '苹果',
                    '香蕉',
                    '菠萝',
                    '甜瓜'
                ]
            },
            methods:{
                zhang: function  () {
                    console.log(this)
                }
            }
        })
    </script>
</body>

</html>