<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        /* h1{
            color: yellow
        }
        p{
            color: red;
        } */
        body{
            color: green;
        }
    </style>
</head>
<body>
    <% for(var i = 0; i< tearr.length; i++) {%>
    <h1><%= tearr[i].author %></h1>
    <p><%= tearr[i].content %></p>
    <% } %>
</body>
</html>